<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Parfum Store GML</h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
            Parfum Store GML es una tienda de perfumes de alta calidad, con una amplia gama de fragancias para hombres y mujeres.
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/img/marcas/nicho.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Marcas Exclusivas</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Perfumería nicho</h2>
            <p class="leading-relaxed text-base">Los perfumes nicho son sinónimo de exclusividad, elegancia, personalidad y magnetismo, características difíciles de encontrar en los perfumes más comerciales.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/img/marcas/mens.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Genero</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Perfumes Masculinos</h2>
            <p class="leading-relaxed text-base">Aromas fuertes y potentes, que se obtienen de materias primas como madera, musgo, incienso, ámbar o resinas.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/img/marcas/womens.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Genero</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Perfumes Femeninos</h2>
            <p class="leading-relaxed text-base">Las fragancias tradicionales femeninas muestran notas dulces, florales y afrutadas como fresa, jazmín, rosa y vainilla.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../assets/img/marcas/escents.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Materia Prima</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Esencias</h2>
            <p class="leading-relaxed text-base">Esencias importadas disponibles para su distribución.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
