.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 10px;
    justify-content: center;
}
.carrito-total{
    display: flex;
    flex-direction: column;
    align-items: center;
}
i {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media (max-width: 1080px) {
    .container-products{
        gap: 10px;
    }
}